body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #2c3e50;
  color: white;
  padding: 30px;
  text-align: center;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 6px;
}

h2 {
  color: #2c3e50;
}

footer {
  background: #222;
  color: #ccc;
  text-align: center;
  padding: 10px;
}
